/* Điều chỉnh menu cho các thiết bị di động */
@media (max-width: 768px) {
    .nav-list {
        text-align: center;
    }

    .nav-item {
        display: block;
        margin: 0 0 30px;
    }
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background: #FFF;
}

#toggleFormButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
}

#toggleFormButton:hover {
    background-color: #0056b3;
}

#toggleFormButton:focus {
    outline: none;
}

#toggleFormButton:active {
    transform: scale(0.95);
}

h1 {
    text-align: center;
}

p.tieude {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
    color: #0e5cad;
    margin: 0;
    padding: 10px;
}

div.live {
    text-align: center;
    margin: 20px auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    table-layout: fixed;
}

th,
td {
    word-wrap: break-word;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

td:nth-child(3) {
    font-size: 48px;
    font-weight: bold;
}


th {
    background-color: #f2f2f2;
}

th:first-child {
    width: auto;
}

/* Thêm quy tắc CSS cho hình ảnh sản phẩm */
.product-image {
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 90px;
    transition: transform 0.3s;
    margin: 1px 3px;
    cursor: pointer;
    /* Thêm con trỏ chỉ vào để làm nổi bật */
}

/* Thêm hiệu ứng phóng to khi rê vào */
.product-image:hover {
    transform: scale(5);
    /* Đổi giá trị để phóng to theo mong muốn của bạn */
    z-index: 1;
}

#dataForm {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

#dataForm label {
    display: block;
    margin-bottom: 10px;
}

#dataForm select,
#dataForm input[type="text"],
#dataForm input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#dataForm button[type="submit"] {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.center-button {
    text-align: center;
}

.center-button button {
    margin-top: 10px;
}

#clearDataButton {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}

.delete-checkbox {
    width: 20px;
    height: 20px;
}

.login-container {
    text-align: center;
    margin-top: 20px;
}

.login-box {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box label {
    display: block;
    margin-bottom: 10px;
}

.login-box input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-box button,
.logout-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* CSS cho nút Thêm */
.add-button {
    background-color: #0000FF;
    /* Màu xanh dương */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s;
}

.delete-button {
    background-color: #FF0000;
    /* Màu xanh dương */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s;
}

.add-button:hover,
.delete-button:hover {
    transform: scale(1.2);
}