/* Điều chỉnh menu cho các thiết bị di động */
@media (max-width: 768px) {
    .nav-list {
        text-align: center;
    }

    .nav-item {
        display: block;
        margin: 0 0 30px;
    }
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background: #FFF;
}

#editModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 0.3s ease-out;
    width: 300px;
    /* Điều chỉnh chiều rộng theo ý muốn */
}

/* Keyframes cho animation */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 15px;
    color: #888;
    border: 1px solid #0056b3;
    padding: 5px;
    border-radius: 1px;
}

.close:hover {
    color: #4caf50;
    background-color: #4caf50;
}

/* Input và Label trong modal */
.modal-content label {
    display: block;
    margin-bottom: 5px;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Nút lưu trong modal */
.modal-content button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #45a049;
}

#toggleFormButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
}

#toggleFormButton:hover, #toggleLogoutButton:hover {
    background-color: #0056b3;
}

#toggleFormButton:focus, #toggleLogoutButton:focus {
    outline: none;
}

#toggleFormButton:active, #toggleLogoutButton:active {
    transform: scale(0.95);
}

#toggleLogoutButton {
	float: right;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

p.tieude {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
    color: #0e5cad;
    margin: 0;
    padding: 10px;
}

div.live {
    text-align: center;
    margin: 20px auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    table-layout: fixed;
}

th,
td {
    word-wrap: break-word;
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

th {
    background-color: #FFFF66;
    color: red;
}

th:first-child {
    width: auto;
}

.product-image {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    transition: transform 0.3s;
    margin: 1px 3px;
}

.product-image:hover {
    transform: scale(3);
    z-index: 1;
}

#dataForm {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

#dataForm label {
    display: block;
    margin-bottom: 10px;
}

#dataForm select,
#dataForm input[type="text"],
#dataForm input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#dataForm button[type="submit"] {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

#totalAmount {
    text-align: center;
    /* Center the text */
    margin-top: 20px;
    /* Add some top margin for spacing */
    font-size: 24px;
    /* Adjust the font size if needed */
    font-weight: bold;
}

/* #dataForm button[type="submit"]:hover {
    background-color: #0056b3;
} */

.center-button {
    text-align: center;
}

.center-button button {
    margin-top: 10px;
}

#clearDataButton {
    background-color: red;
    /* Màu đỏ */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    /* Khoảng cách với nút "Thêm dữ liệu" */
    cursor: pointer;
    font-weight: bold;
}

/* #clearDataButton:hover {
    background-color: #c0392b;
} */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4ca0af;
    color: #fff;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content {
    text-align: center;
}

.popup-message {
    font-size: 24px;
    font-weight: bold;
}

.popup-show {
    display: block;
}

.login-container {
    text-align: center;
    margin-top: 20px;
}

.login-box {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box label {
    display: block;
    margin-bottom: 10px;
}

.login-box input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-box button,
.logout-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #FFFF66;
    color: red;
}

th {
    position: -webkit-sticky;
    word-wrap: break-word;
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

th:first-child {
    width: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    table-layout: fixed;
}

td {
    word-wrap: break-word;
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    /* Căn ảnh trên theo chiều dọc */
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

th:nth-child(1),
td:nth-child(1) {
    width: 6%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 29%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 6%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 6%;
}

th:nth-child(5),
td:nth-child(5) {
    width: 6%;
}

th:nth-child(6),
td:nth-child(6) {
    width: 35%;
}

th:nth-child(7),
td:nth-child(7) {
    width: 6%;
}

th:nth-child(8),
td:nth-child(8) {
    width: 6%;
}

td:nth-child(2),
td:nth-child(6) {
    text-align: justify;
}

tr:hover {
    background-color: #fd1e1e52;
}

/* Tooltip hiển thị thông tin */
.tooltip {
	position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
	z-index: 1000;
}

/* Thông báo */
#floatingAlert {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 30px 50px; /* Tăng padding để alert lớn hơn */
	border-radius: 12px;
	font-size: 20px; /* Tăng kích thước chữ */
	width: 50%; /* Tăng độ rộng của alert */
	max-width: 500px; /* Giới hạn tối đa */
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s;
	pointer-events: none;
}