/* Điều chỉnh menu cho các thiết bị di động */
@media (max-width: 768px) {
    .nav-list {
        text-align: center;
    }
    .nav-item {
        display: block;
        margin: 0 0 30px;
    }
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background: #FFF;
}

#toggleFormButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
}

#toggleFormButton:hover {
    background-color: #0056b3;
}

#toggleFormButton:focus {
    outline: none;
}

#toggleFormButton:active {
    transform: scale(0.95);
}

h1 {
    text-align: center;
}

p.tieude {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
    color: #0e5cad;
    margin: 0;
    padding: 10px;
}

div.live {
    text-align: center;
    margin: 20px auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    table-layout: fixed;
}

th, td {
    word-wrap: break-word;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    vertical-align: top; /* Căn ảnh trên theo chiều dọc */
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

th {
    background-color: #f2f2f2;
}

th:first-child {
    width: auto;
}

.product-image {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    transition: transform 0.3s;
    margin: 1px 3px;
}

.product-image:hover {
    transform: scale(3);
    z-index: 1;
}

#dataForm {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

#dataForm label {
    display: block;
    margin-bottom: 10px;
}

#dataForm select,
#dataForm input[type="text"],
#dataForm input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#dataForm button[type="submit"] {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

/* #dataForm button[type="submit"]:hover {
    background-color: #0056b3;
} */

.center-button {
    text-align: center;
}

.center-button button {
    margin-top: 10px;
}

#clearDataButton {
    background-color: red; /* Màu đỏ */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px; /* Khoảng cách với nút "Thêm dữ liệu" */
    cursor: pointer;
    font-weight: bold;
}

/* #clearDataButton:hover {
    background-color: #c0392b;
} */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4ca0af;
    color: #fff;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content {
    text-align: center;
}

.popup-message {
    font-size: 24px;
    font-weight: bold;
}

.popup-show {
    display: block;
}
