/* modal.css */
.login-container {
    display: flex;                    /* Sử dụng Flexbox để sắp xếp nội dung */
    justify-content: center;          /* Canh giữa theo chiều ngang */
    align-items: center;              /* Canh giữa theo chiều dọc */
    min-height: 100vh;                /* Chiều cao container bằng với chiều cao cửa sổ trình duyệt */
    background-color: rgba(128, 128, 128, 0.5); /* Nền xám với độ trong suốt 50% */
}

.login-box {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box label {
    display: block;
    margin-bottom: 10px;
}

.login-box input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-box button,
.logout-button {
    display: block;
    margin: 0 auto;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
