@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
    color-scheme: dark;
}

/* Custom styles for active link in sidebar */
.active-link {
    background-color: theme('colors.primary');
    color: white !important;
}

.active-link:hover {
    background-color: theme('colors.primary-hover') !important;
    color: white !important;
}

/* Material Symbols Adjustments */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* Global scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: theme('colors.background-light');
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: theme('colors.border-light');
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: theme('colors.primary');
}

html.dark ::-webkit-scrollbar-track {
    background: theme('colors.background-dark');
}

html.dark ::-webkit-scrollbar-thumb {
    background: theme('colors.border-dark');
}
